<header class="layout-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-auto">
                <h1><img ng-src="{{ vm.logoImg }}" alt="AngularJS Logo" /> AngularJS + Webpack + Babel</h1>
            </div>
            <div class="col-sm">
                <nav>
                    <ul>
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="about">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>